{% extends 'NSAdminBundle:Layout:base.html.twig' %}

{% block content %}
    {% block content_header '' %}
    <div class="row">
        <div class="span12">
            {% block content_content '' %}
        </div>
    </div>
{% endblock %}
