{% extends 'NSAdminBundle:Layout:base.html.twig' %}

{% block content %}
    {% block content_header '' %}
    <div class="row">
        <div class="span3">
            {% block content_left '' %}
        </div>
        <div class="span9">
            {% block content_content '' %}
        </div>
    </div>
{% endblock %}
