{% extends 'NSAdminBundle::layout.html.twig' %}

{% block content %}
    <form method="post" {{ form_enctype(form) }} autocomplete="off">
        {{ form_widget(form, {label: form_label is defined ? form_label : '' }) }}
        <button class="btn btn-success">Сохранить</button>
    </form>
{% endblock %}