@import url(http://fonts.googleapis.com/css?family=Allura);

body {
	position: relative;
	padding-top: 40px;
}

form .control-group textarea {
	height: 400px;
	width: 100%;
}

[class^="icon-"],
[class*=" icon-"] {
	background-image: url(/bundles/mopabootstrap/img/glyphicons-halflings.png) !important;
}
[class^="icon-white"],
[class*=" icon-white"] {
	background-image: url(/bundles/mopabootstrap/img/glyphicons-halflings-white.png) !important;
}

.loader {
	background: url(/bundles/nsadmin/images/loader.gif);
	height: 20px;
	margin: 10px 10px 0 0;
	width:20px;
}

.multi-action {
	border-top: solid 1px #ddd;
	display: none;
	height: 0;
	margin-top: -20px;
	padding-top: 10px;
}
.multi-action i {
	margin-left: 8px;
}
.multi-action .btn-group {
	padding-left: 13px;
}

/*** NAVBAR ***/
.navbar .nav li a .icon-white {
    opacity: 0.5;
}
.navbar .nav li a:hover .icon-white,
.navbar .nav li.active a .icon-white {
    opacity: 1;
}

.ns-sincerely a {
	font-family: 'Allura', cursive;
	font-size: 20px;
	background: url('/bundles/nsadmin/images/ns.png') no-repeat 100% 50%;
	padding: 10px 55px 0 0;
}
