html,body {
    height: 100%;
}

form .control-group textarea {
	height: 400px;
	width: 100%;
}

/*** HEADER ***/
header .navbar-inner:after {
    width: 100%;
    height: 20px;
    position: absolute;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 13%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(13%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 13%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 13%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 13%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 13%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

/*** FOOTER PULL-DOWN ***/
.ns-wrap {
    min-height: 100%;
}
.ns-main {
    overflow: auto;
    padding: 40px 0 90px 0;
}
footer {
    height: 45px;
    position: relative;
    margin-top: -90px;
    overflow: hidden;
}
footer .container {
    border-top: solid 1px #ddd;
    overflow: hidden;
    padding: 10px 0 0 0;
}
footer .version {
    color: #ddd;
    font-size: 12px;
    line-height: 15px;
}
footer .version a {
    color: #ddd;
    text-decoration: underline;
}
footer .version a:hover {
    color: #aaa;
}

/*** LOADER ***/
.loader {
    background: #fff1b2;
    border: solid 1px #ccc;
    height: 20px;
    margin-right: 10px;
    overflow: hidden;
    padding: 3px 5px;
    position: fixed;
    right: 0;
    top: 50px;
}
.loader span {
    font-size: 12px;
    color: #777;
}

.multi-action {
	border-top: solid 1px #ddd;
	display: none;
	height: 0;
	margin-top: -20px;
	padding-top: 10px;
}
.multi-action i {
	margin-left: 8px;
}
.multi-action .btn-group {
	padding-left: 13px;
}

/*** NAVBAR ***/
.navbar .nav li a .icon-white {
    opacity: 0.5;
}
.navbar .nav li a:hover .icon-white,
.navbar .nav li.active a .icon-white {
    opacity: 1;
}

/*** SINCERELY ***/
.ns-sincerely a {
    opacity: 0.7;
}
.ns-sincerely a:hover {
    opacity: 1;
}

/*** PHPINFO ***/
.ns-phpinfo table,
.ns-phpinfo tbody,
.ns-phpinfo tr {
    clear: left;
    display: block;
    position: relative;
    width: 100%;
}
.ns-phpinfo table {
    margin: 0 0 20px 0;
    overflow: hidden;
}
.ns-phpinfo h2 {
    clear: left;
}
.ns-phpinfo table td {
    border: solid 1px #ccc;
}
.ns-phpinfo .e,
.ns-phpinfo .v,
.ns-phpinfo .h th {
    display: block;
    float: left;
    height: 30px;
}
.ns-phpinfo .e {
    width: 25%;
}
.ns-phpinfo .v {
    overflow: hidden;
    word-wrap: break-word;
    width: 35%;
}
.ns-phpinfo .h th:nth-child(1) {
    width: 25%;
}
.ns-phpinfo .h th:nth-child(2),
.ns-phpinfo .h th:nth-child(3) {
    width: 35%;
}
.ns-phpinfo table:first-child a {
    display: none;
}

/*** LOGIN ***/
.ns-login {
    border: solid 1px #ddd;
    width: 410px;
    left: 50%;
    margin: -200px 0 0 -205px;
    overflow: hidden;
    padding: 30px;
    position: absolute;
    top: 50%;
}
.ns-login .submit {
    text-align: right;
}
.ns-login .alert {
    font-size: 14px;
    text-align: center;
}

/*** CATEGORY TREE ***/
.ns-tree{
    position: relative;
}
.ns-tree:before {
    background: -moz-linear-gradient(left, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(245, 245, 245, 1)), color-stop(100%, rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#00ffffff', GradientType=1); /* IE6-9 */
    height: 100%;
    position: absolute;
    width: 20px;
    content: ''
}
.ns-tree:after {
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(245, 245, 245, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(245, 245, 245, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(245, 245, 245, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(245, 245, 245, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(245, 245, 245, 1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(245, 245, 245, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#f5f5f5', GradientType=1); /* IE6-9 */
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    content: ''
}

.iframe-loader {
    width: 128px;
    height: 128px;
    background: url('../images/loader-big.gif');
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -64px 0 0 -64px;
    opacity: 0.3;
}

/*** MULTI IMAGE ***/
.ns-multi-image {
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
}
.ns-multi-image .drop-container {
    border: solid 3px transparent;
    margin-bottom: 5px;
    padding: 10px 10px 0 10px;
    position: relative;
}
.ns-multi-image .drop-container.in {
    border: dashed 3px #ccc;
    border-radius: 5px;
}
.ns-multi-image .drop-container .thumbnail {
    margin-left: 20px;
    margin-bottom: 10px;
}
.ns-multi-image .thumbnail .progress {
    display: none;
    margin-bottom: 0;
    margin-top: -20px;
    position: relative;
}
.ns-multi-image .thumbnail img {
    height: 128px;
    width: 128px;
}
.ns-multi-image .thumbnail.in-progress .progress {
    display: block;
}
.ns-multi-image .btn-delete {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}
